<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Nomina" connectionString="data source= DESKTOP-C7QR5Q4\SQLEXPRESS;    
		 initial catalog=Nomina; integrated security=false;    
		 user id= usuarioWeb; password=12345"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  <add key="wsHotel.webServiceHotel" value="http://localhost:63636/webServiceHotel.asmx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
</configuration>